.commonMistakes__content {
  align-self: flex-end;
  margin: 1rem auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commonMistakes__title {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: $blueColorLighter;
  text-align: center;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.commonMistakes__list {
  padding-top: 1rem;
  border-top: 1px solid #888;
  padding-bottom: 1.5rem;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.layout__content--chinese .commonMistakes__list {
  font-size: 1rem;
}

.layout__content--japanese .commonMistakes__list {
  font-size: 1.2rem;
}

.commonMistakes__list li {
  margin: 0.5rem 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.commonMistakes__subtitle {
  color: $blueColorLighter;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.commonMistakes__subtitle-wrapper {
  display: flex;
  align-items: center;
}

.commonMistakes__emoji {
  width: 50px;
  margin-right: 0.5rem;
}

.commonMistakes__emoji:last-child {
  width: 60px;
  margin-left: 1rem;
}

.commonMistakes__ribbon {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-image: linear-gradient(
    to right,
    rgba(81, 131, 200, 0),
    $blueColorLighter 5% 95%,
    rgba(81, 131, 200, 0)
  );
  margin-bottom: 1.5rem;
  text-align: center;
}

.commonMistakes__email {
  color: $blueColorLighter;
  font-size: 1.3rem;
  padding: 0 0.5rem;
}

.commonMistakes__times {
  color: red;
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.commonMistakes__pron-list li {
  list-style: none;
  margin-left: 2rem;
}

.commonMistakes__inner p {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.commonMistakes__pron-list li::before {
  content: "\2022";
  color: $blueColorLighter;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.commonMistakes__inner {
  padding-left: 0.5rem;
}

.commonMistakes__email-wrapper {
  display: flex;
  align-items: center;
  img {
    width: 50px;
  }
}

.commonMistakes__more-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1.5rem;
  p {
    white-space: nowrap;
  }
}

@media (min-width: 700px) {
  .commonMistakes__content {
    margin: 3rem 0;
    width: 90%;
  }
  .commonMistakes__inner {
    margin: 3rem 0;
    width: 70%;
  }
  .commonMistakes__title {
    font-size: 2rem;
    text-align: left;
    margin-top: 0;
  }
  .commonMistakes__list {
    width: 80%;
  }
  .commonMistakes__ribbon {
    width: 90%;
    background-image: linear-gradient(
      to right,
      rgba(81, 131, 200, 0),
      $blueColorLighter 15% 85%,
      rgba(81, 131, 200, 0)
    );
    text-align: left;
  }
  .commonMistakes__email {
    text-align: left;
  }
  .commonMistakes__pron-list {
    list-style: none;
    margin-left: 1rem;
  }
  .commonMistakes__smiley {
    margin-left: -2rem;
    margin-right: 0.5rem;
  }
  .commonMistakes__smiley--bottom {
    margin-left: 0;
    margin-right: 0;
  }
  .layout__content--chinese .commonMistakes__list {
    font-size: 1.3rem;
  }
  .commonMistakes__email {
    padding: 0;
  }
}
