.footer__wrapper {
  display: flex;
  background-color: $blueColor;
  flex-shrink: 0;
  color: white;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.footer__wrapper {
  font-family: Arial, Helvetica, sans-serif;
}

.footer__wrapper--chinese {
  font-family: jhenghei;
}

.footer__wrapper--japanese .footer__nav {
  margin-bottom: 5rem;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1rem 0;
  align-items: center;
  width: 100%;
  position: relative;
}

.footer__nav::after {
  position: absolute;
  content: "(日本語版は参考用です。正確な契約条件については、英語版を参照してください。)";
  font-weight: bold;
  display: none;
  color: #333;
  top: 100%;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
}

.footer__wrapper--japanese .footer__nav::after {
  display: block;
}

.footer__nav li {
  margin: 0.3rem 0;
}

.footer__nav li a {
  color: white;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.footer__contact div {
  padding: 0.5rem 0;
}

.footer__admin {
  color: #666;
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}

@media (min-width: 1400px) {
  .footer__wrapper {
    justify-content: space-around;
    align-items: flex-start;
  }
  .footer__nav {
    flex-direction: row;
    align-items: center;
    width: 70%;
  }
  .footer__contact {
    width: 30%;
  }
  .footer__wrapper--japanese .footer__nav {
    margin-bottom: 0;
  }
}
