@font-face {
  font-family: "jhenghei";
  src: url("../assets/Microsoft JhengHei.eot");
  src: url("../assets/Microsoft JhengHei.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/Microsoft JhengHei.woff2") format("woff2"),
    url("../assets/Microsoft JhengHei.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2215;
}

@font-face {
  font-family: roboto;
  src: url("../assets/Roboto-Regular.ttf");
}

@font-face {
  font-family: roboto-bold;
  src: url("../assets/Roboto-Bold.ttf");
}

@font-face {
  font-family: roboto-light;
  src: url("../assets/Roboto-Light.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
}

.layout__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.layout__content--chinese {
  font-family: jhenghei;
}

strong {
  color: $blueColor;
}

.green {
  color: $greenColor2;
}

.dark {
  color: $blueColorDarker;
}

.bold-dark {
  font-weight: bold;
  color: $blueColorDarker;
}
