@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

@font-face {
  font-family: eloquent;
  src: url("../assets/EloquentJFCaptionPro.ttf");
}

.index__content {
  align-self: flex-end;
  margin: 3rem 0;
  width: 85%;
  margin: 0 auto;
}

.index__banner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 4px solid white;
  min-height: 30vh;
}

.index__banner-text {
  flex: 1;
  background-color: $greenColor;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  padding-bottom: 1rem;
}

.layout__content--english .index__banner-text {
  padding-left: 1rem;
}

.layout__content--chinese .index__banner-text {
  text-align: center;
}

.index__banner p {
  width: 90%;
}
.index__big {
  font-size: 2.4rem;
  font-weight: 500;
}

.index__yellow {
  color: yellow;
}

.index__banner img {
  max-width: 300px;
  height: auto;
  display: none;
}

.index__title {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: $greenColor2;
  text-align: center;
  margin-top: 2rem;
}

.layout__content--chinese .index__title {
  color: $greenColor2;
}

.index__item {
  display: flex;
  align-items: flex-start;
  margin: 2rem 0;
}

.index__item p {
  border-top: 2px solid $blueColor;
  padding-top: 0.5rem;
  flex: 1;
  padding-left: 10px;
}

.layout__content--chinese .index__item p {
  font-size: 1rem;
}

.layout__content--japanese .index__item p {
  font-size: 1.2rem;
}

.index__number {
  font-size: 2.5rem;
  color: $blueColor;
  font-family: eloquent;
  margin-bottom: 2rem;
  // margin-top: -0.8rem;
  padding-right: 0.1rem;
}

.index__bold-yellow {
  font-weight: 500;
  color: yellow;
}

.index__light-green {
  color: rgb(92, 195, 177);
  font-weight: bold;
}

@media (min-width: 700px) {
  .index__content {
    width: 65%;
  }
  .index__title {
    font-size: 1.5rem;
    text-align: left;
  }
  .index__number {
    font-size: 3.5rem;
    margin-top: -1rem;
  }
  .index__banner img {
    display: block;
  }
  .index__banner-text {
    font-size: 2.1rem;
    padding: 0;
  }
  .index__big {
    font-size: 3.5rem;
  }
  .layout__content--chinese .index__item p {
    font-size: 1.3rem;
  }
}
