.index__content {
  align-self: flex-end;
  margin: 3rem 0;
  width: 85%;
  margin: 0 auto;
}

.index__banner {
  display: flex;
  max-height: 35vh;
  width: 100%;
  justify-content: space-between;
  border-top: 4px solid white;
}

.index__banner-text {
  flex: 1;
  background-color: $greenColor;
  color: white;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index__banner p {
  width: 90%;
}
.index__big {
  font-size: 3rem;
}

.index__banner img {
  max-width: 300px;
}

.index__title {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: $greenColor2;
  text-align: center;
  margin-top: 2rem;
}

.index__item {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.index__item p {
  border-top: 1px solid #888;
  margin-top: -0.6rem;
  padding-top: 0.8rem;
  flex: 1;
}

.index__number {
  font-size: 2.5rem;
  color: $blueColor;
  margin-right: 0.5rem;
}

@media (min-width: 700px) {
  .index__content {
    width: 65%;
  }
  .index__title {
    font-size: 1.5rem;
    text-align: left;
  }
  .index__number {
    font-size: 3.5rem;
  }
}
