.notification__wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification__content {
  background-color: white;
  border-radius: 8px;
  width: 90%;
  min-height: 20vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  p {
    font-size: 1.2rem;
  }
}

.notification__close {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 2.5rem;
  cursor: pointer;
}

@media (min-width: 700px) {
  .notification__content {
    width: 40%;
    min-height: 20vh;
  }
}
