.requirements__content {
  align-self: flex-end;
  margin: 1rem auto;
  width: 80%;
}

.requirements__title {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: $blueColorLighter;
  text-align: center;
  margin-top: 2rem;
}

.requirements__list {
  list-style: circle;
}

.requirements__sublist {
  list-style: square;
  margin-left: 2rem;
  margin-top: -1rem;
}

.requirements__sublist li {
  list-style: square;
  margin: 1rem 0;
}

.requirements__item {
  align-items: center;
  margin: 2rem 0;
  border-top: 1px solid #888;
  padding: 1rem 0;
}

@media (min-width: 700px) {
  .requirements__content {
    margin: 3rem 0;
  }
  .requirements__title {
    font-size: 2rem;
    text-align: left;
  }
  .requirements__sublist {
    margin-top: 0;
  }
}
