.requirements__content {
  align-self: flex-end;
  margin: 1rem auto;
  width: 80%;
}

.requirements__title {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: $blueColorLighter;
  text-align: center;
  margin-top: 2rem;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.layout__content--chinese .requirements__list {
  font-size: 1rem;
}

.layout__content--japanese .requirements__list {
  font-size: 1.2rem;
}

.requirements__item {
  position: relative;
}

.requirements__item::before {
  // content: "\2022";
  // color: $blueColor;
  // font-weight: bold;
  // display: inline-block;
  // width: 1em;
  // margin-left: -1em;
  content: "";
  width: 10px;
  height: 10px;
  background-color: $blueColor;
  border-radius: 50%;
  position: absolute;
  left: -1.7rem;
  top: 1.3rem;
  margin-left: 0.5rem;
}

.requirements__sublist {
  margin-left: 2rem;
  margin-top: -1rem;
}

.requirements__sublist li {
  list-style: none;
  margin: 1rem 0;
}

.requirements__sublist li::before {
  content: "➤";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  color: black;
  margin-right: 1rem;
}

.requirements__item {
  align-items: center;
  margin: 2rem 0;
  border-top: 1px solid #888;
  padding: 1rem 0;
}

@media (min-width: 700px) {
  .requirements__content {
    margin: 3rem 0;
  }
  .requirements__title {
    font-size: 2rem;
    text-align: left;
  }
  .requirements__sublist {
    margin-top: 0;
  }
  .layout__content--chinese .requirements__list {
    font-size: 1.3rem;
  }
}
