.tuitionFees__content {
  align-self: flex-end;
  margin: 1rem auto;
  width: 80%;
}

.tuitionFees__title {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: $blueColorLighter;
  text-align: center;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.tuitionFees__stage {
  padding-top: 1rem;
  border-top: 1px solid #888;
  padding-bottom: 1.5rem;
}

.layout__content--chinese .tuitionFees__stage {
  font-size: 1rem;
}

.layout__content--japanese .tuitionFees__stage {
  font-size: 1.2rem;
}

.tuitionFees__subtitle {
  color: $blueColorLighter;
  margin-bottom: 1.5rem;
}

.tuitionFees__trial {
  border: 2px solid $blueColorLighter;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.tuitionFees__payments {
  font-style: italic;
  font-weight: bold;
  color: $greenColor;
  margin-bottom: 1.5rem;
  text-decoration: underline;
}

.tuitionFees__info {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.tuitionFees__info strong {
  margin-right: 1rem;
}

.tuitionFees__info div span:first-child {
  font-weight: bold;
  color: $blueColor;
}

@media (min-width: 700px) {
  .tuitionFees__content {
    margin: 3rem 0;
  }
  .tuitionFees__title {
    font-size: 2rem;
    text-align: left;
  }
  .tuitionFees__trial {
    width: 50%;
  }
  .layout__content--chinese .tuitionFees__stage {
    font-size: 1.3rem;
  }
  .tuitionFees__info {
    width: 55%;
    flex-direction: row;
  }

  .tuitionFees__info--first,
  .tuitionFees__info--second {
    width: 40%;
  }
}

@media (min-width: 1000px) {
  .tuitionFees__trial {
    width: 25%;
  }
}
