$greenColor: rgb(92, 195, 177);
$blueColor: rgb(81, 131, 200);
$blueColorLighter: lighten($blueColor, 10%);
$blueColorLightest: lighten($blueColor, 30%);
$greenColor2: rgb(0, 104, 56);
$blueColorDarker: darken(rgb(81, 131, 200), 20%);
